.page-body{font-family: sans-serif;
    background-color:#171717;
}
.conteiner{margin-left: auto;
margin-right: auto;
max-width: 1335px;}
.page-header{padding-top: 37px;
padding-bottom: 88px;
}
.telephone{color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
margin-left: auto;
margin-right: 39px;}
.acces-color{color: #D6AF76;}
.link-telephone{font-weight: 400;
    font-size: 18px;
    line-height: 30px;
color: #E4B564;
padding: 10px 25px 10px 26px;
border: 1px solid #E4B564;
display: flex;
align-items: center;}
.page-introduction{display: flex;
justify-content: space-between;
align-items: center;}
.acces-vector{margin-right: 10px;}
.page-title{font-weight: 700;
    font-size: 50px;
    line-height: 28px;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 41px;}
.page-subtitle{font-weight: 700;
    font-size: 20px;
    line-height: 28px;
color: #FFFFFF;
max-width: 1060px;
margin-top: 0;
margin-bottom: 41px;}
.list-services{display:grid;  
grid-template-rows:300px 300px;
grid-template-columns: repeat(6,1fr);
padding-left: 0;
margin-top: 0;
gap: 27px 30px;
margin-bottom: 0;
}

.list-item{
list-style: none;
display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.link-item{font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    
}
.item1{grid-column-start: 1;
grid-column-end: 3;
background-color:#634F2C;
}
.item2{grid-column-start: 3;
grid-column-end: 5;
background-color: #B4A385;}
.item3{grid-column-start: 5;
    grid-column-end: 7;
background-color: #E4B564;}
.item4{grid-column-start: 1;
    grid-column-end: 4;
background-color: #635A4A;}
.item5{grid-column-start: 4;
        grid-column-end: 7;
    background-color: #B08C4D;}
.title-park-car{margin-top: 121px;
    margin-bottom: 94px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
color: #FFFFFF;}

.item-car{list-style-type: none;
margin-bottom: 26px;
padding-top: 45px;
padding-left: 50px;
}
.item-car p{margin-top: 0;
margin-bottom: 0;
font-weight: 700;}
.car1{
height: 313px;
background-color: #0E0E0E;}
.car2{
height: 560px;
background-color: #1F1F1F;
margin-bottom: 0;}
.car3{height: 439px;
background-color: #242424;}
.car4{height: 405px;
background-color: #E4B564;
margin-bottom: 0;}
.car5{height: 255px;
background-color: #1F1F1F;}
.car6{height: 313px;
background-color: #0E0E0E;}
.car7{height: 277px;
background-color: #0A0909;
margin-bottom: 0;}

.list-car{padding-left: 0;
margin-top: 0;
margin-bottom: 0;}
.link-car{font-size: 20px;
    line-height: 25px;
    font-weight: 500;
list-style: none;
color: #FFFFFF;}
.list_car{display: grid;
grid-template-columns: repeat(3,1fr);
column-gap: 30px;
margin-bottom: 200px;}
.footer-color{background-image: url(../image/parallax-bg.jpeg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-footer{font-weight: 700;
    font-size: 50px;
    line-height: 28px;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 0;}
.link-project{color: #E4B564;
    font-size: 18px;
    line-height: 30px;
text-align: center;
padding: 10px 40px;
border: 1px solid #E4B564;
}
.page-footer{display: flex;
justify-content: space-between;
align-items: center;
padding-top: 172px;
padding-bottom: 72px;}
.list-project{display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,391px);
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
}
.item-project{list-style-type: none;
display: flex;
justify-content: center;
align-items: center;}

.project1{background-color: #634F2C;}
.project2{background-color: rgba(232, 210, 171, 0.76);
display:flex;
flex-direction: column;}
.hover{font-weight: 400;
    font-size: 22px;
    line-height: 28px;
color: #FFFFFF;
text-align: center;
width: 290px;
margin-top: 16;
margin-bottom: 0;}
.hover span{font-weight: 600;}
.project3{background-color: #E4B564;}
.project4{background-color: #635A4A;}
.project5{background-color: #B08C4D;
position: relative;
}
.project6{background-color: #634F2C;}
.footer{padding-bottom: 240px;}
.body-color1{background-image: url(../image/header-bg.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding-top: 40px;
padding-bottom: 40px;}
.vector01{position: absolute;
top: 182px;
left: 201px;
}
.vector1{position: absolute;
top: 186px;
left: 216px;}
.vector2{position: absolute;
    top: 183px;
    left: 231px;}
.vector3{position: absolute;
        top: 180px;
        left: 244px;}
.vector4{position: absolute;
            top: 181px;
            left: 250px;}
.vector5{position: absolute;
                top: 185px;
                left: 268px;}
.vector6{position: absolute;
        top: 185px;
        left: 277px;}
.vector7{position: absolute;
        top: 185px;
        left: 291px;}
.vector8{position: absolute;
            top: 185px;
            left: 304px;}
